body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: Arial, sans-serif;
    background-size: cover;
}
.calculadora {
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 10px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 16px;
}
.button_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(248, 209, 161);
    transition: 900ms;
    cursor: pointer;
}

.btn_igual {
    background-color: orange;
    color: white;
}